Malicious or Benign Websites EDA 

Chris Heimbuch

In [575]:
# Standard DS imports
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D

# Inferential Analysis Tests
from scipy import stats
from scipy.stats import mannwhitneyu
from scipy.stats import kruskal
from scipy.stats import ttest_ind
from scipy.stats import f_oneway

#For null value imputation
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline

# Ignore Warnings
import warnings
warnings.filterwarnings("ignore")

In [576]:
# Call in dataset and inspect the head.
df = pd.read_csv("dataset.csv")
df.head()

,URL,URL_LENGTH,NUMBER_SPECIAL_CHARACTERS,CHARSET,SERVER,CONTENT_LENGTH,WHOIS_COUNTRY,WHOIS_STATEPRO,WHOIS_REGDATE,WHOIS_UPDATED_DATE,...,DIST_REMOTE_TCP_PORT,REMOTE_IPS,APP_BYTES,SOURCE_APP_PACKETS,REMOTE_APP_PACKETS,SOURCE_APP_BYTES,REMOTE_APP_BYTES,APP_PACKETS,DNS_QUERY_TIMES,Type
0,M0_109,16,7,iso-8859-1,nginx,263.0,NaN,NaN,10/10/2015 18:21,NaN,...,0,2,700,9,10,1153,832,9,2.0,1
1,B0_2314,16,6,UTF-8,Apache/2.4.10,15087.0,NaN,NaN,NaN,NaN,...,7,4,1230,17,19,1265,1230,17,0.0,0
2,B0_911,16,6,us-ascii,Microsoft-HTTPAPI/2.0,324.0,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0.0,0
3,B0_113,17,6,ISO-8859-1,nginx,162.0,US,AK,7/10/1997 4:00,12/09/2013 0:45,...,22,3,3812,39,37,18784,4380,39,8.0,0
4,B0_403,17,6,UTF-8,NaN,124140.0,US,TX,12/05/1996 0:00,11/04/2017 0:00,...,2,5,4278,61,62,129889,4586,61,4.0,0

In [578]:
#Inspect dimensionality of dataset.
print(df.shape)

(1781, 21)

In [579]:
#Inspect the column names and see what we are working with.
df.columns

Index(['URL', 'URL_LENGTH', 'NUMBER_SPECIAL_CHARACTERS', 'CHARSET', 'SERVER',
       'CONTENT_LENGTH', 'WHOIS_COUNTRY', 'WHOIS_STATEPRO', 'WHOIS_REGDATE',
       'WHOIS_UPDATED_DATE', 'TCP_CONVERSATION_EXCHANGE',
       'DIST_REMOTE_TCP_PORT', 'REMOTE_IPS', 'APP_BYTES', 'SOURCE_APP_PACKETS',
       'REMOTE_APP_PACKETS', 'SOURCE_APP_BYTES', 'REMOTE_APP_BYTES',
       'APP_PACKETS', 'DNS_QUERY_TIMES', 'Type'],
      dtype='object')

In [580]:
# Call info to inspect data types and get a preliminary investigtion of any null values. It appears we have some.
df.info()

print(df.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1781 entries, 0 to 1780
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   URL                        1781 non-null   object
 1   URL_LENGTH                 1781 non-null   int64
 2   NUMBER_SPECIAL_CHARACTERS  1781 non-null   int64
 3   CHARSET                    1774 non-null   object
 4   SERVER                     1605 non-null   object
 5   CONTENT_LENGTH             969 non-null    float64
 6   WHOIS_COUNTRY              1475 non-null   object
 7   WHOIS_STATEPRO             1419 non-null   object
 8   WHOIS_REGDATE              1654 non-null   object
 9   WHOIS_UPDATED_DATE         1642 non-null   object
 10  TCP_CONVERSATION_EXCHANGE  1781 non-null   int64
 11  DIST_REMOTE_TCP_PORT       1781 non-null   int64
 12  REMOTE_IPS                 1781 non-null   int64
 13  APP_BYTES                  1781 non-null   int64
 14  SOURCE_APP_PACKETS         1781 non-null   int64
 15  REMOTE_APP_PACKETS         1781 non-null   int64
 16  SOURCE_APP_BYTES           1781 non-null   int64
 17  REMOTE_APP_BYTES           1781 non-null   int64
 18  APP_PACKETS                1781 non-null   int64
 19  DNS_QUERY_TIMES            1780 non-null   float64
 20  Type                       1781 non-null   int64
dtypes: float64(2), int64(12), object(7)
memory usage: 292.3+ KB
URL                            0
URL_LENGTH                     0
NUMBER_SPECIAL_CHARACTERS      0
CHARSET                        7
SERVER                       176
CONTENT_LENGTH               812
WHOIS_COUNTRY                306
WHOIS_STATEPRO               362
WHOIS_REGDATE                127
WHOIS_UPDATED_DATE           139
TCP_CONVERSATION_EXCHANGE      0
DIST_REMOTE_TCP_PORT           0
REMOTE_IPS                     0
APP_BYTES                      0
SOURCE_APP_PACKETS             0
REMOTE_APP_PACKETS             0
SOURCE_APP_BYTES               0
REMOTE_APP_BYTES               0
APP_PACKETS                    0
DNS_QUERY_TIMES                1
Type                           0
dtype: int64

In [581]:
#Seeing how many null values I have and in what columns.
df.isna().sum()

URL                            0
URL_LENGTH                     0
NUMBER_SPECIAL_CHARACTERS      0
CHARSET                        7
SERVER                       176
CONTENT_LENGTH               812
WHOIS_COUNTRY                306
WHOIS_STATEPRO               362
WHOIS_REGDATE                127
WHOIS_UPDATED_DATE           139
TCP_CONVERSATION_EXCHANGE      0
DIST_REMOTE_TCP_PORT           0
REMOTE_IPS                     0
APP_BYTES                      0
SOURCE_APP_PACKETS             0
REMOTE_APP_PACKETS             0
SOURCE_APP_BYTES               0
REMOTE_APP_BYTES               0
APP_PACKETS                    0
DNS_QUERY_TIMES                1
Type                           0
dtype: int64

In [582]:
# Simple Statistical summary of data set with numerical values.
df.describe()

,URL_LENGTH,NUMBER_SPECIAL_CHARACTERS,CONTENT_LENGTH,TCP_CONVERSATION_EXCHANGE,DIST_REMOTE_TCP_PORT,REMOTE_IPS,APP_BYTES,SOURCE_APP_PACKETS,REMOTE_APP_PACKETS,SOURCE_APP_BYTES,REMOTE_APP_BYTES,APP_PACKETS,DNS_QUERY_TIMES,Type
count,1781.000000,1781.000000,969.000000,1781.000000,1781.000000,1781.000000,1.781000e+03,1781.000000,1781.000000,1.781000e+03,1.781000e+03,1781.000000,1780.000000,1781.000000
mean,56.961258,11.111735,11726.927761,16.261089,5.472768,3.060640,2.982339e+03,18.540146,18.746210,1.589255e+04,3.155599e+03,18.540146,2.263483,0.121280
std,27.555586,4.549896,36391.809051,40.500975,21.807327,3.386975,5.605057e+04,41.627173,46.397969,6.986193e+04,5.605378e+04,41.627173,2.930853,0.326544
min,16.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,39.000000,8.000000,324.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
50%,49.000000,10.000000,1853.000000,7.000000,0.000000,2.000000,6.720000e+02,8.000000,9.000000,5.790000e+02,7.350000e+02,8.000000,0.000000,0.000000
75%,68.000000,13.000000,11323.000000,22.000000,5.000000,5.000000,2.328000e+03,26.000000,25.000000,9.806000e+03,2.701000e+03,26.000000,4.000000,0.000000
max,249.000000,43.000000,649263.000000,1194.000000,708.000000,17.000000,2.362906e+06,1198.000000,1284.000000,2.060012e+06,2.362906e+06,1198.000000,20.000000,1.000000

In [583]:
df

,URL,URL_LENGTH,NUMBER_SPECIAL_CHARACTERS,CHARSET,SERVER,CONTENT_LENGTH,WHOIS_COUNTRY,WHOIS_STATEPRO,WHOIS_REGDATE,WHOIS_UPDATED_DATE,...,DIST_REMOTE_TCP_PORT,REMOTE_IPS,APP_BYTES,SOURCE_APP_PACKETS,REMOTE_APP_PACKETS,SOURCE_APP_BYTES,REMOTE_APP_BYTES,APP_PACKETS,DNS_QUERY_TIMES,Type
0,M0_109,16,7,iso-8859-1,nginx,263.0,NaN,NaN,10/10/2015 18:21,NaN,...,0,2,700,9,10,1153,832,9,2.0,1
1,B0_2314,16,6,UTF-8,Apache/2.4.10,15087.0,NaN,NaN,NaN,NaN,...,7,4,1230,17,19,1265,1230,17,0.0,0
2,B0_911,16,6,us-ascii,Microsoft-HTTPAPI/2.0,324.0,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0.0,0
3,B0_113,17,6,ISO-8859-1,nginx,162.0,US,AK,7/10/1997 4:00,12/09/2013 0:45,...,22,3,3812,39,37,18784,4380,39,8.0,0
4,B0_403,17,6,UTF-8,NaN,124140.0,US,TX,12/05/1996 0:00,11/04/2017 0:00,...,2,5,4278,61,62,129889,4586,61,4.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1776,M4_48,194,16,UTF-8,Apache,NaN,ES,Barcelona,17/09/2008 0:00,2/09/2016 0:00,...,0,0,0,0,3,186,0,0,0.0,1
1777,M4_41,198,17,UTF-8,Apache,NaN,ES,Barcelona,17/09/2008 0:00,2/09/2016 0:00,...,0,0,0,0,2,124,0,0,0.0,1
1778,B0_162,201,34,utf-8,Apache/2.2.16 (Debian),8904.0,US,FL,15/02/1999 0:00,15/07/2015 0:00,...,2,6,6631,87,89,132181,6945,87,4.0,0
1779,B0_1152,234,34,ISO-8859-1,cloudflare-nginx,NaN,US,CA,1/04/1998 0:00,9/12/2016 0:00,...,0,0,0,0,0,0,0,0,0.0,0
1780,B0_676,249,40,utf-8,Microsoft-IIS/8.5,24435.0,US,Wisconsin,14/11/2008 0:00,20/11/2013 0:00,...,6,11,2314,25,28,3039,2776,25,6.0,0

Just a quick preliminary review of my data, it is messy. Columns are uppercase with the last column being title case, there are null values across many rows with some reaching over 800 null values, string data has dashes and certain strings that are the same name such as UTF-8 in the "CHARSET" column are upper case and lower case. Therefore, I will add some consistency across my data to prepare for the exploratory data analysis.

In [584]:
#Going to create a copy of the df to work with.
df_copy = df.copy()

In [585]:
#Make all columns lowercase
df_copy.columns = df_copy.columns.str.lower()

In [586]:
#Clean up the 'charset' column: replace the dashes with spaces and make it Title case
df_copy['charset'] = df_copy['charset'].str.replace('-', ' ')
df_copy['charset'] = df_copy['charset'].str.title()
df_copy['charset'].unique()

array(['Iso 8859 1', 'Utf 8', 'Us Ascii', nan, 'Windows 1251', 'Iso 8859',
       'Windows 1252'], dtype=object)

In [587]:
#Going to perform null value imputation with KNN imputation method.

#Encode only the known values.
le = LabelEncoder()
df_copy['charset_encoded'] = df_copy['charset']
df_copy.loc[df_copy['charset'].notnull(), 'charset_encoded'] = le.fit_transform(df_copy['charset'].dropna())

#Apply KNN imputation on the encoded column.
imputer = KNNImputer(n_neighbors=3)
df_copy['charset_encoded'] = imputer.fit_transform(df_copy[['charset_encoded']])

#Inverse transform the encoded data back to the original categories.
df_copy['charset_imputed'] = df_copy['charset_encoded'].round().astype(int)
df_copy['charset_imputed'] = le.inverse_transform(df_copy['charset_imputed'])

#Compare the original and imputed columns to verify our imputation has succeeded.
imputed_values = df_copy[df_copy['charset'].isnull()]

print(imputed_values[['charset', 'charset_imputed']])

     charset charset_imputed
35       NaN        Us Ascii
81       NaN        Us Ascii
125      NaN        Us Ascii
159      NaN        Us Ascii
952      NaN        Us Ascii
977      NaN        Us Ascii
1069     NaN        Us Ascii

In [588]:
df_copy = df_copy.drop(columns=["charset_encoded", "charset"])

In [589]:
df_copy.isna().sum()

url                            0
url_length                     0
number_special_characters      0
server                       176
content_length               812
whois_country                306
whois_statepro               362
whois_regdate                127
whois_updated_date           139
tcp_conversation_exchange      0
dist_remote_tcp_port           0
remote_ips                     0
app_bytes                      0
source_app_packets             0
remote_app_packets             0
source_app_bytes               0
remote_app_bytes               0
app_packets                    0
dns_query_times                1
type                           0
charset_imputed                0
dtype: int64

In [590]:
#Looking into "server" column now. There is alot of random noise here.
df_copy['server'].unique()

array(['nginx', 'Apache/2.4.10', 'Microsoft-HTTPAPI/2.0', nan, 'Apache/2',
       'nginx/1.10.1', 'Apache', 'Apache/2.2.15 (Red Hat)',
       'Apache/2.4.23 (Unix) OpenSSL/1.0.1e-fips mod_bwlimited/1.4',
       'openresty/1.11.2.1', 'Apache/2.2.22', 'Apache/2.4.7 (Ubuntu)',
       'nginx/1.12.0',
       'Apache/2.4.12 (Unix) OpenSSL/1.0.1e-fips mod_bwlimited/1.4',
       'Oracle-iPlanet-Web-Server/7.0', 'cloudflare-nginx', 'nginx/1.6.2',
       'openresty', 'Heptu web server', 'Pepyaka/1.11.3', 'nginx/1.8.0',
       'nginx/1.10.1 + Phusion Passenger 5.0.30',
       'Apache/2.2.29 (Amazon)', 'Microsoft-IIS/7.5', 'LiteSpeed',
       'Apache/2.4.25 (cPanel) OpenSSL/1.0.1e-fips mod_bwlimited/1.4',
       'tsa_c', 'Apache/2.2.0 (Fedora)', 'Apache/2.2.22 (Debian)',
       'Apache/2.2.15 (CentOS)', 'Apache/2.4.25',
       'Apache/2.4.25 (Amazon) PHP/7.0.14', 'GSE',
       'Apache/2.4.23 (Unix) OpenSSL/0.9.8e-fips-rhel5 mod_bwlimited/1.4',
       'Apache/2.4.25 (Amazon) OpenSSL/1.0.1k-fips',
       'Apache/2.2.22 (Ubuntu)', 'Tengine',
       'Apache/2.4.18 (Unix) OpenSSL/0.9.8e-fips-rhel5 mod_bwlimited/1.4',
       'Apache/2.4.10 (Debian)', 'Apache/2.4.6 (CentOS) PHP/5.6.8',
       'Sun-ONE-Web-Server/6.1',
       'Apache/2.4.18 (Unix) OpenSSL/1.0.2e Communique/4.1.10',
       'AmazonS3',
       'Apache/1.3.37 (Unix) mod_perl/1.29 mod_ssl/2.8.28 OpenSSL/0.9.7e-p1',
       'ATS', 'Apache/2.2.27 (CentOS)',
       'Apache/2.2.29 (Unix) mod_ssl/2.2.29 OpenSSL/1.0.1e-fips DAV/2 mod_bwlimited/1.4',
       'CherryPy/3.6.0', 'Server', 'KHL',
       'Apache/2.4.6 (CentOS) OpenSSL/1.0.1e-fips mod_fcgid/2.3.9 PHP/5.4.16 mod_jk/1.2.40',
       'Apache/2.2.3 (CentOS)', 'Apache/2.4',
       'Apache/1.3.27 (Unix)  (Red-Hat/Linux) mod_perl/1.26 PHP/4.3.3 FrontPage/5.0.2 mod_ssl/2.8.12 OpenSSL/0.9.6b',
       'mw2114.codfw.wmnet',
       'Apache/2.2.31 (Unix) mod_ssl/2.2.31 OpenSSL/1.0.1e-fips mod_bwlimited/1.4 mod_perl/2.0.8 Perl/v5.10.1',
       'Apache/1.3.34 (Unix) PHP/4.4.4', 'Apache/2.2.31 (Amazon)',
       'Jetty(9.0.z-SNAPSHOT)', 'Apache/2.2.31 (CentOS)',
       'Apache/2.4.12 (Ubuntu)', 'HTTPDaemon',
       'Apache/2.2.29 (Unix) mod_ssl/2.2.29 OpenSSL/1.0.1e-fips mod_bwlimited/1.4',
       'MediaFire', 'DOSarrest', 'mw2232.codfw.wmnet',
       'Sucuri/Cloudproxy', 'Apache/2.4.23 (Unix)', 'nginx/0.7.65',
       'mw2260.codfw.wmnet', 'Apache/2.2.32', 'mw2239.codfw.wmnet',
       'DPS/1.1.8', 'Apache/2.0.52 (Red Hat)',
       'Apache/2.2.25 (Unix) mod_ssl/2.2.25 OpenSSL/0.9.8e-fips-rhel5 mod_bwlimited/1.4',
       'Apache/1.3.31 (Unix) PHP/4.3.9 mod_perl/1.29 rus/PL30.20',
       'Apache/2.2.13 (Unix) mod_ssl/2.2.13 OpenSSL/0.9.8e-fips-rhel5 mod_auth_passthrough/2.1 mod_bwlimited/1.4 PHP/5.2.10',
       'nginx/1.1.19', 'ATS/5.3.0', 'Apache/2.2.3 (Red Hat)',
       'nginx/1.4.3',
       'Apache/2.2.29 (Unix) mod_ssl/2.2.29 OpenSSL/1.0.1e-fips mod_bwlimited/1.4 PHP/5.4.35',
       'Apache/2.2.14 (FreeBSD) mod_ssl/2.2.14 OpenSSL/0.9.8y DAV/2 PHP/5.2.12 with Suhosin-Patch',
       'Apache/2.2.14 (Unix) mod_ssl/2.2.14 OpenSSL/0.9.8e-fips-rhel5',
       'Apache/1.3.39 (Unix) PHP/5.2.5 mod_auth_passthrough/1.8 mod_bwlimited/1.4 mod_log_bytes/1.2 mod_gzip/1.3.26.1a FrontPage/5.0.2.2635 DAV/1.0.3 mod_ssl/2.8.30 OpenSSL/0.9.7a',
       'SSWS', 'Microsoft-IIS/8.0', 'Apache/2.4.18 (Ubuntu)',
       'Apache/2.4.6 (CentOS) OpenSSL/1.0.1e-fips PHP/5.4.16 mod_apreq2-20090110/2.8.0 mod_perl/2.0.10 Perl/v5.24.1',
       'Apache/2.2.20 (Unix)', 'YouTubeFrontEnd', 'nginx/1.11.3',
       'nginx/1.11.2', 'nginx/1.10.0 (Ubuntu)', 'nginx/1.8.1',
       'nginx/1.11.10', 'Squeegit/1.2.5 (3_sir)',
       'Virtuoso/07.20.3217 (Linux) i686-generic-linux-glibc212-64  VDB',
       'Apache-Coyote/1.1', 'Yippee-Ki-Yay', 'mw2165.codfw.wmnet',
       'mw2192.codfw.wmnet', 'Apache/2.2.23 (Amazon)',
       'nginx/1.4.6 (Ubuntu)', 'nginx + Phusion Passenger',
       'Proxy Pandeiro UOL', 'mw2231.codfw.wmnet', 'openresty/1.11.2.2',
       'mw2109.codfw.wmnet', 'nginx/0.8.54', 'Apache/2.4.6',
       'mw2225.codfw.wmnet', 'Apache/1.3.27 (Unix) PHP/4.4.1',
       'mw2236.codfw.wmnet', 'mw2101.codfw.wmnet', 'Varnish',
       'Resin/3.1.8', 'mw2164.codfw.wmnet', 'Microsoft-IIS/8.5',
       'mw2242.codfw.wmnet',
       'Apache/2.4.6 (CentOS) OpenSSL/1.0.1e-fips PHP/5.5.38',
       'mw2175.codfw.wmnet', 'mw2107.codfw.wmnet', 'mw2190.codfw.wmnet',
       'Apache/2.4.6 (CentOS)', 'nginx/1.13.0', 'barista/5.1.3',
       'mw2103.codfw.wmnet', 'Apache/2.4.25 (Debian)', 'ECD (fll/0790)',
       'Pagely Gateway/1.5.1', 'nginx/1.10.3',
       'Apache/2.4.25 (FreeBSD) OpenSSL/1.0.1s-freebsd PHP/5.6.30',
       'mw2097.codfw.wmnet', 'mw2233.codfw.wmnet', 'fbs',
       'mw2199.codfw.wmnet', 'mw2255.codfw.wmnet', 'mw2228.codfw.wmnet',
       'Apache/2.2.31 (Unix) mod_ssl/2.2.31 OpenSSL/1.0.1e-fips mod_bwlimited/1.4 mod_fcgid/2.3.9',
       'gunicorn/19.7.1',
       'Apache/2.2.31 (Unix) mod_ssl/2.2.31 OpenSSL/0.9.8e-fips-rhel5 mod_bwlimited/1.4',
       'Apache/2.4.6 (CentOS) OpenSSL/1.0.1e-fips PHP/5.4.16',
       'mw2241.codfw.wmnet',
       'Apache/1.3.33 (Unix) mod_ssl/2.8.24 OpenSSL/0.9.7e-p1 PHP/4.4.8',
       'lighttpd', 'mw2230.codfw.wmnet',
       'Apache/2.4.6 (CentOS) OpenSSL/1.0.1e-fips', 'AkamaiGHost',
       'mw2240.codfw.wmnet', 'nginx/1.10.2', 'PWS/8.2.0.7', 'nginx/1.2.1',
       'nxfps',
       'Apache/2.2.16 (Unix) mod_ssl/2.2.16 OpenSSL/0.9.8e-fips-rhel5 mod_auth_passthrough/2.1 mod_bwlimited/1.4',
       'Play', 'mw2185.codfw.wmnet',
       'Apache/2.4.10 (Unix) OpenSSL/1.0.1k',
       'Apache/Not telling (Unix) AuthTDS/1.1',
       'Apache/2.2.11 (Unix) PHP/5.2.6', 'Scratch Web Server',
       'marrakesh 1.12.2', 'nginx/0.8.35', 'mw2182.codfw.wmnet',
       'squid/3.3.8', 'nginx/1.10.0', 'Nginx (OpenBSD)',
       'Zope/(2.13.16; python 2.6.8; linux2) ZServer/1.1',
       'Apache/2.2.26 (Unix) mod_ssl/2.2.26 OpenSSL/0.9.8e-fips-rhel5 mod_bwlimited/1.4 PHP/5.4.26',
       'Apache/2.2.21 (Unix) mod_ssl/2.2.21 OpenSSL/0.9.8e-fips-rhel5 PHP/5.3.10',
       'Apache/2.2.27 (Unix) OpenAM Web Agent/4.0.1-1 mod_ssl/2.2.27 OpenSSL/1.0.1p PHP/5.3.28',
       'mw2104.codfw.wmnet', '.V01 Apache', 'mw2110.codfw.wmnet',
       'Apache/2.4.6 (Unix) mod_jk/1.2.37 PHP/5.5.1 OpenSSL/1.0.1g mod_fcgid/2.3.9',
       'mw2176.codfw.wmnet', 'mw2187.codfw.wmnet', 'mw2106.codfw.wmnet',
       'Microsoft-IIS/7.0',
       'Apache/1.3.42 Ben-SSL/1.60 (Unix) mod_gzip/1.3.26.1a mod_fastcgi/2.4.6 mod_throttle/3.1.2 Chili!Soft-ASP/3.6.2 FrontPage/5.0.2.2635 mod_perl/1.31 PHP/4.4.9',
       'Aeria Games & Entertainment', 'nginx/1.6.3 + Phusion Passenger',
       'Apache/2.4.10 (Debian) PHP/5.6.30-0+deb8u1 mod_perl/2.0.9dev Perl/v5.20.2',
       'mw2173.codfw.wmnet',
       'Apache/2.4.6 (Red Hat Enterprise Linux) OpenSSL/1.0.1e-fips mod_fcgid/2.3.9 Communique/4.2.0',
       'Apache/2.2.15 (CentOS) DAV/2 mod_ssl/2.2.15 OpenSSL/1.0.1e-fips PHP/5.3.3',
       'Apache/2.4.6 (CentOS) OpenSSL/1.0.1e-fips PHP/7.0.14',
       'mw2198.codfw.wmnet', 'mw2172.codfw.wmnet', 'nginx/1.2.6',
       'Apache/2.4.6 (Unix) mod_jk/1.2.37',
       'Apache/2.4.25 (Unix) OpenSSL/1.0.1e-fips mod_bwlimited/1.4',
       'nginx/1.4.4', 'Cowboy', 'mw2113.codfw.wmnet',
       'Apache/2.2.14 (Unix) mod_ssl/2.2.14 OpenSSL/0.9.8a',
       'Apache/2.4.10 (Ubuntu)', 'mw2224.codfw.wmnet',
       'mw2171.codfw.wmnet', 'mw2257.codfw.wmnet', 'mw2226.codfw.wmnet',
       'DMS/1.0.42', 'nginx/1.6.3', 'Application-Server',
       'Apache/2.4.6 (CentOS) mod_fcgid/2.3.9 PHP/5.6.30',
       'mw2177.codfw.wmnet', 'lighttpd/1.4.28', 'mw2197.codfw.wmnet',
       'Apache/2.2.31 (FreeBSD) PHP/5.4.15 mod_ssl/2.2.31 OpenSSL/1.0.2d DAV/2',
       'Apache/2.2.26 (Unix) mod_ssl/2.2.26 OpenSSL/1.0.1e-fips DAV/2 mod_bwlimited/1.4',
       'Apache/2.2.24 (Unix) DAV/2 PHP/5.3.26 mod_ssl/2.2.24 OpenSSL/0.9.8y',
       'mw2178.codfw.wmnet', '294', 'Microsoft-IIS/6.0', 'nginx/1.7.4',
       'Apache/2.2.22 (Debian) mod_python/3.3.1 Python/2.7.3 mod_ssl/2.2.22 OpenSSL/1.0.1t',
       'Apache/2.4.16 (Ubuntu)', 'www.lexisnexis.com  9999',
       'nginx/0.8.38', 'mw2238.codfw.wmnet', 'Pizza/pepperoni',
       'XXXXXXXXXXXXXXXXXXXXXX', 'MI', 'Roxen/5.4.98-r2',
       'Apache/2.2.31 (Unix) mod_ssl/2.2.31 OpenSSL/1.0.1e-fips mod_bwlimited/1.4',
       'nginx/1.9.13', 'mw2180.codfw.wmnet', 'Apache/2.2.14 (Ubuntu)',
       'ebay server', 'nginx/0.8.55', 'Apache/2.2.10 (Linux/SUSE)',
       'nginx/1.7.12',
       'Apache/2.0.63 (Unix) mod_ssl/2.0.63 OpenSSL/0.9.8e-fips-rhel5 mod_auth_passthrough/2.1 mod_bwlimited/1.4 PHP/5.3.6',
       'Boston.com Frontend', 'My Arse', 'IdeaWebServer/v0.80',
       'Apache/2.4.17 (Unix) OpenSSL/1.0.1e-fips PHP/5.6.19',
       'Microsoft-IIS/7.5; litigation_essentials.lexisnexis.com  9999',
       'Apache/2.2.16 (Debian)'], dtype=object)

In [591]:
df_copy['server'].fillna("Unknown", inplace=True)

In [592]:
#Clean up the 'charset' column: replace the dashes with spaces and make it Title case
# df_copy['server'] = df_copy['server'].str.replace('-', ' ')
df_copy['server'] = df_copy['server'].str.lower()

In [593]:
df_copy['standardized_server'] = df_copy['server'].apply(standardize_server)

print(df_copy[['server', 'standardized_server']])

                      server standardized_server
0                      nginx               nginx
1              apache/2.4.10              apache
2      microsoft-httpapi/2.0       microsoft-IIS
3                      nginx               nginx
4                    unknown             unknown
...                      ...                 ...
1776                  apache              apache
1777                  apache              apache
1778  apache/2.2.16 (debian)              apache
1779        cloudflare-nginx               nginx
1780       microsoft-iis/8.5       microsoft-IIS

[1781 rows x 2 columns]

In [594]:
df_copy['server'].unique()

array(['nginx', 'apache/2.4.10', 'microsoft-httpapi/2.0', 'unknown',
       'apache/2', 'nginx/1.10.1', 'apache', 'apache/2.2.15 (red hat)',
       'apache/2.4.23 (unix) openssl/1.0.1e-fips mod_bwlimited/1.4',
       'openresty/1.11.2.1', 'apache/2.2.22', 'apache/2.4.7 (ubuntu)',
       'nginx/1.12.0',
       'apache/2.4.12 (unix) openssl/1.0.1e-fips mod_bwlimited/1.4',
       'oracle-iplanet-web-server/7.0', 'cloudflare-nginx', 'nginx/1.6.2',
       'openresty', 'heptu web server', 'pepyaka/1.11.3', 'nginx/1.8.0',
       'nginx/1.10.1 + phusion passenger 5.0.30',
       'apache/2.2.29 (amazon)', 'microsoft-iis/7.5', 'litespeed',
       'apache/2.4.25 (cpanel) openssl/1.0.1e-fips mod_bwlimited/1.4',
       'tsa_c', 'apache/2.2.0 (fedora)', 'apache/2.2.22 (debian)',
       'apache/2.2.15 (centos)', 'apache/2.4.25',
       'apache/2.4.25 (amazon) php/7.0.14', 'gse',
       'apache/2.4.23 (unix) openssl/0.9.8e-fips-rhel5 mod_bwlimited/1.4',
       'apache/2.4.25 (amazon) openssl/1.0.1k-fips',
       'apache/2.2.22 (ubuntu)', 'tengine',
       'apache/2.4.18 (unix) openssl/0.9.8e-fips-rhel5 mod_bwlimited/1.4',
       'apache/2.4.10 (debian)', 'apache/2.4.6 (centos) php/5.6.8',
       'sun-one-web-server/6.1',
       'apache/2.4.18 (unix) openssl/1.0.2e communique/4.1.10',
       'amazons3',
       'apache/1.3.37 (unix) mod_perl/1.29 mod_ssl/2.8.28 openssl/0.9.7e-p1',
       'ats', 'apache/2.2.27 (centos)',
       'apache/2.2.29 (unix) mod_ssl/2.2.29 openssl/1.0.1e-fips dav/2 mod_bwlimited/1.4',
       'cherrypy/3.6.0', 'server', 'khl',
       'apache/2.4.6 (centos) openssl/1.0.1e-fips mod_fcgid/2.3.9 php/5.4.16 mod_jk/1.2.40',
       'apache/2.2.3 (centos)', 'apache/2.4',
       'apache/1.3.27 (unix)  (red-hat/linux) mod_perl/1.26 php/4.3.3 frontpage/5.0.2 mod_ssl/2.8.12 openssl/0.9.6b',
       'mw2114.codfw.wmnet',
       'apache/2.2.31 (unix) mod_ssl/2.2.31 openssl/1.0.1e-fips mod_bwlimited/1.4 mod_perl/2.0.8 perl/v5.10.1',
       'apache/1.3.34 (unix) php/4.4.4', 'apache/2.2.31 (amazon)',
       'jetty(9.0.z-snapshot)', 'apache/2.2.31 (centos)',
       'apache/2.4.12 (ubuntu)', 'httpdaemon',
       'apache/2.2.29 (unix) mod_ssl/2.2.29 openssl/1.0.1e-fips mod_bwlimited/1.4',
       'mediafire', 'dosarrest', 'mw2232.codfw.wmnet',
       'sucuri/cloudproxy', 'apache/2.4.23 (unix)', 'nginx/0.7.65',
       'mw2260.codfw.wmnet', 'apache/2.2.32', 'mw2239.codfw.wmnet',
       'dps/1.1.8', 'apache/2.0.52 (red hat)',
       'apache/2.2.25 (unix) mod_ssl/2.2.25 openssl/0.9.8e-fips-rhel5 mod_bwlimited/1.4',
       'apache/1.3.31 (unix) php/4.3.9 mod_perl/1.29 rus/pl30.20',
       'apache/2.2.13 (unix) mod_ssl/2.2.13 openssl/0.9.8e-fips-rhel5 mod_auth_passthrough/2.1 mod_bwlimited/1.4 php/5.2.10',
       'nginx/1.1.19', 'ats/5.3.0', 'apache/2.2.3 (red hat)',
       'nginx/1.4.3',
       'apache/2.2.29 (unix) mod_ssl/2.2.29 openssl/1.0.1e-fips mod_bwlimited/1.4 php/5.4.35',
       'apache/2.2.14 (freebsd) mod_ssl/2.2.14 openssl/0.9.8y dav/2 php/5.2.12 with suhosin-patch',
       'apache/2.2.14 (unix) mod_ssl/2.2.14 openssl/0.9.8e-fips-rhel5',
       'apache/1.3.39 (unix) php/5.2.5 mod_auth_passthrough/1.8 mod_bwlimited/1.4 mod_log_bytes/1.2 mod_gzip/1.3.26.1a frontpage/5.0.2.2635 dav/1.0.3 mod_ssl/2.8.30 openssl/0.9.7a',
       'ssws', 'microsoft-iis/8.0', 'apache/2.4.18 (ubuntu)',
       'apache/2.4.6 (centos) openssl/1.0.1e-fips php/5.4.16 mod_apreq2-20090110/2.8.0 mod_perl/2.0.10 perl/v5.24.1',
       'apache/2.2.20 (unix)', 'youtubefrontend', 'nginx/1.11.3',
       'nginx/1.11.2', 'nginx/1.10.0 (ubuntu)', 'nginx/1.8.1',
       'nginx/1.11.10', 'squeegit/1.2.5 (3_sir)',
       'virtuoso/07.20.3217 (linux) i686-generic-linux-glibc212-64  vdb',
       'apache-coyote/1.1', 'yippee-ki-yay', 'mw2165.codfw.wmnet',
       'mw2192.codfw.wmnet', 'apache/2.2.23 (amazon)',
       'nginx/1.4.6 (ubuntu)', 'nginx + phusion passenger',
       'proxy pandeiro uol', 'mw2231.codfw.wmnet', 'openresty/1.11.2.2',
       'mw2109.codfw.wmnet', 'nginx/0.8.54', 'apache/2.4.6',
       'mw2225.codfw.wmnet', 'apache/1.3.27 (unix) php/4.4.1',
       'mw2236.codfw.wmnet', 'mw2101.codfw.wmnet', 'varnish',
       'resin/3.1.8', 'mw2164.codfw.wmnet', 'microsoft-iis/8.5',
       'mw2242.codfw.wmnet',
       'apache/2.4.6 (centos) openssl/1.0.1e-fips php/5.5.38',
       'mw2175.codfw.wmnet', 'mw2107.codfw.wmnet', 'mw2190.codfw.wmnet',
       'apache/2.4.6 (centos)', 'nginx/1.13.0', 'barista/5.1.3',
       'mw2103.codfw.wmnet', 'apache/2.4.25 (debian)', 'ecd (fll/0790)',
       'pagely gateway/1.5.1', 'nginx/1.10.3',
       'apache/2.4.25 (freebsd) openssl/1.0.1s-freebsd php/5.6.30',
       'mw2097.codfw.wmnet', 'mw2233.codfw.wmnet', 'fbs',
       'mw2199.codfw.wmnet', 'mw2255.codfw.wmnet', 'mw2228.codfw.wmnet',
       'apache/2.2.31 (unix) mod_ssl/2.2.31 openssl/1.0.1e-fips mod_bwlimited/1.4 mod_fcgid/2.3.9',
       'gunicorn/19.7.1',
       'apache/2.2.31 (unix) mod_ssl/2.2.31 openssl/0.9.8e-fips-rhel5 mod_bwlimited/1.4',
       'apache/2.4.6 (centos) openssl/1.0.1e-fips php/5.4.16',
       'mw2241.codfw.wmnet',
       'apache/1.3.33 (unix) mod_ssl/2.8.24 openssl/0.9.7e-p1 php/4.4.8',
       'lighttpd', 'mw2230.codfw.wmnet',
       'apache/2.4.6 (centos) openssl/1.0.1e-fips', 'akamaighost',
       'mw2240.codfw.wmnet', 'nginx/1.10.2', 'pws/8.2.0.7', 'nginx/1.2.1',
       'nxfps',
       'apache/2.2.16 (unix) mod_ssl/2.2.16 openssl/0.9.8e-fips-rhel5 mod_auth_passthrough/2.1 mod_bwlimited/1.4',
       'play', 'mw2185.codfw.wmnet',
       'apache/2.4.10 (unix) openssl/1.0.1k',
       'apache/not telling (unix) authtds/1.1',
       'apache/2.2.11 (unix) php/5.2.6', 'scratch web server',
       'marrakesh 1.12.2', 'nginx/0.8.35', 'mw2182.codfw.wmnet',
       'squid/3.3.8', 'nginx/1.10.0', 'nginx (openbsd)',
       'zope/(2.13.16; python 2.6.8; linux2) zserver/1.1',
       'apache/2.2.26 (unix) mod_ssl/2.2.26 openssl/0.9.8e-fips-rhel5 mod_bwlimited/1.4 php/5.4.26',
       'apache/2.2.21 (unix) mod_ssl/2.2.21 openssl/0.9.8e-fips-rhel5 php/5.3.10',
       'apache/2.2.27 (unix) openam web agent/4.0.1-1 mod_ssl/2.2.27 openssl/1.0.1p php/5.3.28',
       'mw2104.codfw.wmnet', '.v01 apache', 'mw2110.codfw.wmnet',
       'apache/2.4.6 (unix) mod_jk/1.2.37 php/5.5.1 openssl/1.0.1g mod_fcgid/2.3.9',
       'mw2176.codfw.wmnet', 'mw2187.codfw.wmnet', 'mw2106.codfw.wmnet',
       'microsoft-iis/7.0',
       'apache/1.3.42 ben-ssl/1.60 (unix) mod_gzip/1.3.26.1a mod_fastcgi/2.4.6 mod_throttle/3.1.2 chili!soft-asp/3.6.2 frontpage/5.0.2.2635 mod_perl/1.31 php/4.4.9',
       'aeria games & entertainment', 'nginx/1.6.3 + phusion passenger',
       'apache/2.4.10 (debian) php/5.6.30-0+deb8u1 mod_perl/2.0.9dev perl/v5.20.2',
       'mw2173.codfw.wmnet',
       'apache/2.4.6 (red hat enterprise linux) openssl/1.0.1e-fips mod_fcgid/2.3.9 communique/4.2.0',
       'apache/2.2.15 (centos) dav/2 mod_ssl/2.2.15 openssl/1.0.1e-fips php/5.3.3',
       'apache/2.4.6 (centos) openssl/1.0.1e-fips php/7.0.14',
       'mw2198.codfw.wmnet', 'mw2172.codfw.wmnet', 'nginx/1.2.6',
       'apache/2.4.6 (unix) mod_jk/1.2.37',
       'apache/2.4.25 (unix) openssl/1.0.1e-fips mod_bwlimited/1.4',
       'nginx/1.4.4', 'cowboy', 'mw2113.codfw.wmnet',
       'apache/2.2.14 (unix) mod_ssl/2.2.14 openssl/0.9.8a',
       'apache/2.4.10 (ubuntu)', 'mw2224.codfw.wmnet',
       'mw2171.codfw.wmnet', 'mw2257.codfw.wmnet', 'mw2226.codfw.wmnet',
       'dms/1.0.42', 'nginx/1.6.3', 'application-server',
       'apache/2.4.6 (centos) mod_fcgid/2.3.9 php/5.6.30',
       'mw2177.codfw.wmnet', 'lighttpd/1.4.28', 'mw2197.codfw.wmnet',
       'apache/2.2.31 (freebsd) php/5.4.15 mod_ssl/2.2.31 openssl/1.0.2d dav/2',
       'apache/2.2.26 (unix) mod_ssl/2.2.26 openssl/1.0.1e-fips dav/2 mod_bwlimited/1.4',
       'apache/2.2.24 (unix) dav/2 php/5.3.26 mod_ssl/2.2.24 openssl/0.9.8y',
       'mw2178.codfw.wmnet', '294', 'microsoft-iis/6.0', 'nginx/1.7.4',
       'apache/2.2.22 (debian) mod_python/3.3.1 python/2.7.3 mod_ssl/2.2.22 openssl/1.0.1t',
       'apache/2.4.16 (ubuntu)', 'www.lexisnexis.com  9999',
       'nginx/0.8.38', 'mw2238.codfw.wmnet', 'pizza/pepperoni',
       'xxxxxxxxxxxxxxxxxxxxxx', 'mi', 'roxen/5.4.98-r2',
       'apache/2.2.31 (unix) mod_ssl/2.2.31 openssl/1.0.1e-fips mod_bwlimited/1.4',
       'nginx/1.9.13', 'mw2180.codfw.wmnet', 'apache/2.2.14 (ubuntu)',
       'ebay server', 'nginx/0.8.55', 'apache/2.2.10 (linux/suse)',
       'nginx/1.7.12',
       'apache/2.0.63 (unix) mod_ssl/2.0.63 openssl/0.9.8e-fips-rhel5 mod_auth_passthrough/2.1 mod_bwlimited/1.4 php/5.3.6',
       'boston.com frontend', 'my arse', 'ideawebserver/v0.80',
       'apache/2.4.17 (unix) openssl/1.0.1e-fips php/5.6.19',
       'microsoft-iis/7.5; litigation_essentials.lexisnexis.com  9999',
       'apache/2.2.16 (debian)'], dtype=object)

In [595]:
#Grouping values with the least count into one bin "Other" to reduce number of unique values
series = pd.value_counts(df_copy.server)
mask = (series/series.sum() * 100).lt(1)
df_copy['server'] = np.where(df_copy['server'].isin(series[mask].index),'other',df_copy['server'])

In [596]:
df_copy['server'].unique()

array(['nginx', 'other', 'microsoft-httpapi/2.0', 'unknown', 'apache',
       'nginx/1.12.0', 'cloudflare-nginx', 'microsoft-iis/7.5',
       'apache/2.2.15 (centos)', 'gse', 'ats', 'server',
       'youtubefrontend', 'apache-coyote/1.1'], dtype=object)

In [597]:
 # Further bucketing and cleaning up the server column.

def standardize_server(server_string):
    if 'apache' in server_string:
        return 'apache'
    if 'nginx' in server_string:
        return 'nginx'
    if 'microsoft' in server_string:
        return 'microsoft-IIS'

    return server_string


df_copy['standardized_server'] = df_copy['server'].apply(standardize_server)
df_copy['standardized_server'] = df_copy['standardized_server'].str.replace('-', ' ')

print(df_copy[['server', 'standardized_server']])

                     server standardized_server
0                     nginx               nginx
1                     other               other
2     microsoft-httpapi/2.0       microsoft IIS
3                     nginx               nginx
4                   unknown             unknown
...                     ...                 ...
1776                 apache              apache
1777                 apache              apache
1778                  other               other
1779       cloudflare-nginx               nginx
1780                  other               other

[1781 rows x 2 columns]

In [598]:
#Final inspection of data.

df_copy['standardized_server'].unique()

array(['nginx', 'other', 'microsoft IIS', 'unknown', 'apache', 'gse',
       'ats', 'server', 'youtubefrontend'], dtype=object)

In [599]:
#Inspecting other columns to clean.
df_copy.isna().sum()

url                            0
url_length                     0
number_special_characters      0
server                         0
content_length               812
whois_country                306
whois_statepro               362
whois_regdate                127
whois_updated_date           139
tcp_conversation_exchange      0
dist_remote_tcp_port           0
remote_ips                     0
app_bytes                      0
source_app_packets             0
remote_app_packets             0
source_app_bytes               0
remote_app_bytes               0
app_packets                    0
dns_query_times                1
type                           0
charset_imputed                0
standardized_server            0
dtype: int64

In [600]:
#Content length has the most null values and has a very large spread. Filling with the mean could work but then it would heavily skew the column since a given website may not exactly have 11726 like the mean.
#The median may also not work well since its 1853, and imputing with KNN may not work well. Instead, I will interpolate the data so it is more linear and equally spaced, to make it more realistic as not every website is equal.
df_copy[['content_length']].describe()

       content_length
count      969.000000
mean     11726.927761
std      36391.809051
min          0.000000
25%        324.000000
50%       1853.000000
75%      11323.000000
max     649263.000000

In [601]:
df_copy['content_length'] = df_copy['content_length'].interpolate()

In [602]:
df_copy[['content_length']].describe()

       content_length
count     1781.000000
mean     13497.243964
std      38415.552697
min          0.000000
25%        603.000000
50%       4714.750000
75%      12578.500000
max     649263.000000

In [603]:
#Inspecting other columns to clean and seeing if we filled in content_length successfully.
df_copy.isna().sum()

url                            0
url_length                     0
number_special_characters      0
server                         0
content_length                 0
whois_country                306
whois_statepro               362
whois_regdate                127
whois_updated_date           139
tcp_conversation_exchange      0
dist_remote_tcp_port           0
remote_ips                     0
app_bytes                      0
source_app_packets             0
remote_app_packets             0
source_app_bytes               0
remote_app_bytes               0
app_packets                    0
dns_query_times                1
type                           0
charset_imputed                0
standardized_server            0
dtype: int64

In [604]:
#Inspecting the whois_country. There is some cleaning that should be done - multiple for the UK, se lowercase, nulls.
df_copy['whois_country'].unique()

array([nan, 'US', 'SC', 'GB', 'UK', 'RU', 'AU', 'CA', 'PA', 'se', 'IN',
       'LU', 'TH', "[u'GB'; u'UK']", 'FR', 'NL', 'UG', 'JP', 'CN', 'SE',
       'SI', 'IL', 'ru', 'KY', 'AT', 'CZ', 'PH', 'BE', 'NO', 'TR', 'LV',
       'DE', 'ES', 'BR', 'us', 'KR', 'HK', 'UA', 'CH', 'United Kingdom',
       'BS', 'PK', 'IT', 'Cyprus', 'BY', 'AE', 'IE', 'UY', 'KG'],
      dtype=object)

In [605]:
df_copy['whois_country'].value_counts()

whois_country
US                1103
CA                  84
ES                  63
AU                  35
PA                  21
GB                  19
JP                  11
UK                  10
CN                  10
IN                  10
FR                   9
CZ                   9
NL                   6
CH                   6
[u'GB'; u'UK']       5
KR                   5
PH                   4
BS                   4
ru                   4
AT                   4
HK                   3
us                   3
TR                   3
BE                   3
DE                   3
SC                   3
KY                   3
SE                   3
BR                   2
UY                   2
Cyprus               2
SI                   2
UA                   2
RU                   2
IL                   2
NO                   2
KG                   2
TH                   1
se                   1
LV                   1
LU                   1
United Kingdom       1
UG                   1
PK                   1
IT                   1
BY                   1
AE                   1
IE                   1
Name: count, dtype: int64

In [606]:
#Function to replace the strange values in the column.
def replace(x):
    if x == "[u'GB'; u'UK']"or x=="United Kingdom" or x=="UK":
        return "GB"
    elif x == "Cyprus":
        return "CY"
    elif x == "us":
        return "US"
    elif x == "ru":
        return "RU"
    elif x == "se":
        return "SE"
    else:
        return x
    
df_copy["whois_country"] = list(map(lambda x: replace(x), df_copy["whois_country"]))

In [607]:
#Sanity check
df_copy['whois_country'].unique()

array([nan, 'US', 'SC', 'GB', 'RU', 'AU', 'CA', 'PA', 'SE', 'IN', 'LU',
       'TH', 'FR', 'NL', 'UG', 'JP', 'CN', 'SI', 'IL', 'KY', 'AT', 'CZ',
       'PH', 'BE', 'NO', 'TR', 'LV', 'DE', 'ES', 'BR', 'KR', 'HK', 'UA',
       'CH', 'BS', 'PK', 'IT', 'CY', 'BY', 'AE', 'IE', 'UY', 'KG'],
      dtype=object)

In [608]:
#Filling the NA as 'other' category.
df_copy['whois_country'].fillna("Other", inplace=True)

In [609]:
#Sanity check
df_copy['whois_country'].unique()

array(['Other', 'US', 'SC', 'GB', 'RU', 'AU', 'CA', 'PA', 'SE', 'IN',
       'LU', 'TH', 'FR', 'NL', 'UG', 'JP', 'CN', 'SI', 'IL', 'KY', 'AT',
       'CZ', 'PH', 'BE', 'NO', 'TR', 'LV', 'DE', 'ES', 'BR', 'KR', 'HK',
       'UA', 'CH', 'BS', 'PK', 'IT', 'CY', 'BY', 'AE', 'IE', 'UY', 'KG'],
      dtype=object)

In [610]:
#Inspecting other columns to clean and seeing if we filled in whois_country successfully.
df_copy.isna().sum()

url                            0
url_length                     0
number_special_characters      0
server                         0
content_length                 0
whois_country                  0
whois_statepro               362
whois_regdate                127
whois_updated_date           139
tcp_conversation_exchange      0
dist_remote_tcp_port           0
remote_ips                     0
app_bytes                      0
source_app_packets             0
remote_app_packets             0
source_app_bytes               0
remote_app_bytes               0
app_packets                    0
dns_query_times                1
type                           0
charset_imputed                0
standardized_server            0
dtype: int64

In [611]:
#statepro
df_copy['whois_statepro'].unique()

array([nan, 'AK', 'TX', 'Mahe', 'CO', 'FL', 'Kansas',
       'Novosibirskaya obl.', 'CA', 'Tennessee', 'Vi', 'OR', 'Texas',
       'ALBERTA', 'PANAMA', 'Arizona', 'WI', 'Oregon', 'Andhra Pradesh',
       'AB', 'Tamil Nadu', 'VA', 'NY', 'quebec', 'MA', 'ON', 'New Mexico',
       'British Columbia', 'Massachusetts', 'California', 'bangkok',
       'WEST MIDLANDS', 'TEXAS', 'WC1N', 'Kentucky', 'MD', 'NEW YORK',
       'Washington', 'Colorado', 'PA', 'LA', 'WA', 'Queensland', 'MOSCOW',
       'UK', 'P', 'NH', 'Pennsylvania', 'UTTAR PRADESH', 'NC', 'kireka',
       'IL', 'Missouri', 'Osaka', 'QC', 'Michigan', 'Maryland', 'Ontario',
       'South Carolina', 'Zhejiang', 'New York', 'QLD', 'NJ', 'GA', 'MO',
       'HR', 'ab', 'Greater London', 'Illinois', '--', 'Fukuoka', 'BC',
       'AL', 'Krasnoyarsk', 'MAINE', 'Virginia', 'MH', 'GRAND CAYMAN',
       'Austria', 'DE', 'shandong', 'AZ', 'PRAHA', 'beijingshi',
       'liaoningsheng', 'North Carolina', 'OH', 'Manila', 'Utah', 'MI',
       'NSW', 'UT', 'New South Wales', 'WV', 'Ohio', 'RIX', 'TR', 'nj',
       'Panama', 'SK', 'ca', 'Alicante', 'New Jersey', 'Vic', 'ME',
       'worcs', 'Maine', 'London', 'Karnataka', 'Quebec', 'Indiana',
       'NEW SOUTH WALES', '6110021', 'Not Applicable', 'Peterborough',
       'CT', 'Minnesota', 'NOT APPLICABLE', 'VIC', 'Noord-Holland',
       'CALIFORNIA', 'Nevada', 'Nebraska', 'ILOCOS NORTE R3', 'NV', 'MB',
       'Florida', 'Central', 'Maharashtra', 'widestep@mail.ru', 'VERMONT',
       'ZH', 'hunansheng', 'NONE', 'Wisconsin', 'UTAH', 'Utr', 'Bei Jing',
       '-', 'Manitoba', 'ALABAMA', 'New Providence', 'Punjab', 'qc',
       'Connecticut', 'il', 'Berlin', 'INDAL', 'RM', 'va', 'ny',
       'MAHARASHTR', 'ONTARIO', 'Haryana', 'MIDDLESEX', 'Rogaland',
       'District of Columbia', 'DC', 'HANTS', 'Zug', 'VT', 'TN',
       'ANTWERP', 'CH', 'TOKYO-TO', 'Saskatchewan', 'Alabama', 'Tottori',
       'Arkansas', 'OK', 'Dubai', 'KS', 'Barcelona', 'CO. DUBLIN',
       'Metro Manila', 'Montevideo', 'KG', 'FLORIDA', 'Other', 'QUEBEC',
       'bc', 'Paris'], dtype=object)

In [612]:
#Cleaning up data and nulls.
def replace_state(x):
    if x == "California"or x=="CALIFORNIA":
        return "CA"
    elif x == "Arizona":
        return "AZ"
    elif x == "New York" or x=="NEW YORK":
        return "NY"
    elif x == "Ohio":
        return "OH"
    elif x == "Utah":
        return "UT"
    elif x == "None":
        return "NA"
    elif x == "Texas":
        return "TX"
    elif x == "Washington":
        return "WA"
    elif x == "va":
        return "VA"
    elif x == "Illinois" or x=="il":
        return "IL"
    elif x == "District of Columbia" or x=="DC" or x=="Maryland":
        return "MD"
    elif x == "New Jersey":
        return "NJ"
    elif x == "Maine" or x=="MAINE":
        return "ME"
    elif x == "Quebec" or x=="QUEBEC" or x=="qc" or x=="quebec":
        return "QC"
    elif x == "Missouri":
        return "MO"
    elif x == "Nevada":
        return "NV"
    elif x == "WC1N" or x=="Greater London" or x=="UK" or x=="WEST MIDLANDS" or x=="worcs" or x=="Peterborough" or x=="London" or x=="HANTS" or x=="MIDDLESEX":
        return "England"
    elif x == "Pennsylvania":
        return "PA"
    elif x == "Florida" or x=="FLORIDA":
        return "FL"
    elif x == "PANAMA":
        return "Panama"
    else:
        return x
    
df_copy["whois_statepro"] = list(map(lambda x: replace_state(x), df_copy["whois_statepro"]))

In [613]:
df_copy["whois_statepro"].value_counts()[:21]

whois_statepro
CA           430
NY            87
WA            75
FL            67
AZ            64
Barcelona     62
ON            45
UT            42
NV            33
IL            28
PA            28
CO            24
England       22
MO            22
MA            22
Panama        21
OH            21
TX            19
VA            18
NJ            16
QC            15
Name: count, dtype: int64

In [614]:
#Grouping values with the least count into one bin "Other" to reduce number of unique values
counts = df_copy['whois_statepro'].value_counts()
df_copy['whois_statepro'] = np.where(df_copy['whois_statepro'].isin(counts[counts < 15].index),'Other',df_copy['whois_statepro'])

In [615]:
df_copy['whois_statepro'].fillna("Other", inplace=True)

In [616]:
df_copy['whois_statepro'].unique()

array(['Other', 'TX', 'CO', 'FL', 'CA', 'Panama', 'AZ', 'VA', 'NY', 'QC',
       'MA', 'ON', 'England', 'WA', 'PA', 'IL', 'MO', 'NJ', 'OH', 'UT',
       'NV', 'Barcelona'], dtype=object)

In [617]:
#Inspecting other columns to clean and seeing if we filled in whois_country successfully.
df_copy.isna().sum()

url                            0
url_length                     0
number_special_characters      0
server                         0
content_length                 0
whois_country                  0
whois_statepro                 0
whois_regdate                127
whois_updated_date           139
tcp_conversation_exchange      0
dist_remote_tcp_port           0
remote_ips                     0
app_bytes                      0
source_app_packets             0
remote_app_packets             0
source_app_bytes               0
remote_app_bytes               0
app_packets                    0
dns_query_times                1
type                           0
charset_imputed                0
standardized_server            0
dtype: int64

In [618]:
#Inspect the regdate column
df_copy['whois_regdate'].value_counts()

whois_regdate
17/09/2008 0:00    62
13/01/2001 0:12    59
31/07/2000 0:00    47
15/02/2005 0:00    41
29/03/1997 0:00    33
                   ..
23/11/1994 0:00     1
30/08/2015 0:00     1
30/04/2009 0:00     1
27/11/2006 0:00     1
14/11/2008 0:00     1
Name: count, Length: 890, dtype: int64

In [619]:
df_copy['whois_regdate'].unique()

array(['10/10/2015 18:21', nan, '7/10/1997 4:00', '12/05/1996 0:00',
       '3/08/2016 14:30', '29/07/2002 0:00', '18/03/1997 0:00',
       '8/11/2014 7:41', '14/09/2007 0:00', '22/11/2016 0:00',
       '11/10/2002 0:00', '14/11/2002 0:00', '16/07/2000 0:00',
       '25/05/2013 0:00', '9/08/1999 0:00', '15/09/2013 0:00',
       '3/07/1999 0:00', '2/11/2003 0:00', '12/08/2008 22:10',
       '21/05/2009 0:00', '1/08/2002 0:00', '13/01/2005 0:00',
       '18/05/2005 19:41', '4/01/2001 0:00', '28/02/2008 10:58',
       '8/12/2006 0:00', '16/06/2000 0:00', '13/10/2000 0:00',
       '31/12/1999 0:00', '30/07/1996 0:00', '9/05/2008 0:00',
       '23/04/1999 0:00', '4/02/1997 0:00', '13/02/2003 0:00',
       '17/05/2008 0:00', '30/05/2002 0:00', '20/10/2005 0:00',
       '7/01/2006 0:00', '5/03/1996 5:00', '23/03/1995 0:00',
       '10/01/1998 0:00', '27/04/2016 0:00', '7/04/2011 0:00',
       '26/02/2009 0:00', '3/07/2002 0:00', '21/02/1995 0:00',
       '4/07/2007 0:00', '2/07/1998 0:00', '10/03/2005 0:00',
       '15/12/2004 0:00', '25/02/2008 0:00', '27/01/2005 0:00',
       '14/09/2006 0:00', '30/04/2010 14:12', '22/04/1997 0:00',
       '16/07/2016 0:00', '27/11/2016 19:09', '30/10/2009 0:00',
       '12/03/2009 21:00', '9/03/2000 17:50', '30/05/2008 0:00',
       '25/09/2000 0:00', '9/04/2002 0:00', '11/01/1997 0:00',
       '11/06/2000 0:00', '13/02/2002 19:55', '19/12/2007 0:00',
       '6/11/1997 0:00', '21/01/2000 0:00', '27/04/2009 0:00',
       '11/10/2000 0:00', '4/08/1998 0:00', '31/05/2000 0:00',
       '23/10/1999 0:00', '23/06/2010 0:00', '9/03/2000 0:00',
       '13/04/1994 0:00', '9/06/2010 0:00', '29/04/2009 0:00',
       '19/01/2015 0:00', '11/11/2015 0:00', '22/03/2017 0:00',
       '3/11/2009 0:00', '19/07/2010 20:03', '28/04/1997 0:00',
       '4/03/1996 0:00', '24/10/2007 0:00', '21/10/2004 0:00',
       '2002-03-20T23:59:59.0Z', '29/03/1997 0:00', '10/06/2008 0:00',
       '30/11/1999 0:00', '30/08/2004 0:00', '11/11/1996 0:00',
       '2/10/1995 4:00', '28/06/2011 0:00', '16/08/2016 0:00',
       '9/05/2000 17:31', '31/07/2000 0:00', '14/05/1999 0:00',
       '24/04/2009 0:00', '6/08/1998 0:00', '22/02/1996 0:00',
       '15/06/2007 0:00', '21/09/2009 0:00', '20/01/1995 0:00',
       '28/03/2006 0:00', '28/09/2007 16:06', '4/02/2017 0:00',
       '7/03/1996 0:00', '4/04/2003 0:00', '26/08/2015 0:00',
       '22/07/2004 0:00', '30/11/2004 0:00', '5/03/2008 0:00',
       '8/05/2003 0:00', '2/11/2010 21:52', '23/05/2006 0:00',
       '2/12/1998 0:00', '15/04/1999 0:00', '30/05/2003 0:00',
       '10/01/2002 0:57', '17/03/2006 0:00', '1/03/1999 0:00',
       '1/07/2015 0:00', '22/01/2006 0:00', '6/03/1996 5:00',
       '8/02/2013 0:00', '15/04/2003 0:00', '24/10/1996 0:00',
       '30/04/2016 0:00', '30/12/1999 0:00', '13/07/2001 0:00',
       '29/05/1996 0:00', '25/02/2004 0:00', '18/01/1995 0:00',
       '25/10/2014 0:00', '20/05/1996 0:00', '14/07/2000 0:00',
       '1/12/1996 5:00', '11/11/2000 0:00', '4/09/2004 0:00',
       '9/09/2005 13:44', '7/08/1996 0:00', '30/12/2005 0:00',
       '4/04/2006 0:00', '25/05/2000 0:00', '5/01/1996 0:00',
       '9/07/2008 0:00', '10/05/2006 20:00', '29/07/2006 0:00',
       '27/09/2010 0:00', '31/10/2008 0:00', '3/03/2000 0:00',
       '2/04/2008 0:00', '6/09/2016 0:00', '11/02/1997 0:00',
       '6/08/1995 0:00', '23/10/2008 0:00', '19/02/2009 0:00',
       '30/08/1998 0:00', '14/12/2006 0:00', '22/03/2005 3:36',
       '26/06/2009 0:00', '9/02/2000 14:17', '8/06/2007 0:00',
       '1/11/1994 0:00', '8/08/2013 0:00', '20/04/2000 0:00',
       '12/11/2016 0:00', '8/02/2000 0:00', '25/09/2003 0:00',
       '13/01/2001 0:12', '10/05/2002 0:00', '7/06/2005 0:00',
       '19/08/2012 0:00', '28/04/2003 0:00', '12/03/1999 0:00',
       '30/03/2011 0:00', '14/01/2008 0:00', '26/03/2000 0:00',
       '2/11/2002 0:00', '10/04/2010 0:00', '6/05/2010 16:44',
       '17/08/1999 12:43', '4/10/2006 0:00', '9/03/2007 0:00',
       '31/05/1996 0:00', '29/07/2004 0:00', '17/01/2005 0:00',
       '1/06/2005 0:00', '22/12/1999 0:00', '11/08/2002 0:00',
       '17/11/2003 0:00', '14/08/2008 0:00', '22/08/2010 0:00',
       '8/07/1996 0:00', '21/03/2014 0:00', '22/10/1998 0:00',
       '8/07/2010 0:00', '17/07/2009 0:00', '24/05/2001 20:47',
       '27/06/2004 0:00', '4/03/2004 0:00', '1/06/2004 0:00',
       '13/12/1995 0:00', '10/11/2000 0:00', '30/10/2003 0:00',
       '9/05/1998 0:00', '5/10/2006 0:00', '14/10/2005 0:00',
       '8/09/2003 0:00', '13/07/2008 0:00', '22/08/1996 0:00',
       '1/05/2002 0:00', '10/06/2005 0:00', '7/09/2000 0:00',
       '31/12/2015 0:00', '8/12/2007 0:00', '6/04/2008 0:00',
       '16/07/1998 0:00', '9/02/2001 0:00', '28/12/1999 0:00',
       '21/01/2008 0:00', '27/02/1996 0:00', '7/10/2006 0:00',
       '18/12/2004 0:00', '9/02/2009 0:00', '4/11/1998 0:00',
       '4/11/2016 0:00', '15/04/2004 0:00', '2/07/2010 0:00',
       '12/11/2007 20:49', '22/02/2006 0:00', '5/06/2000 0:00',
       '9/12/1996 0:00', '14/10/1999 0:00', '10/05/2006 23:10',
       '22/02/2001 0:00', '11/09/1997 4:00', '16/10/2000 0:00',
       '8/06/2006 0:00', '18/04/2001 0:00', '5/08/1993 0:00',
       '17/02/2011 0:00', '24/10/1999 0:00', '2/11/1996 0:00',
       '14/02/2000 0:00', '14/09/2009 8:39', '24/05/2000 0:00',
       '18/07/2005 0:00', '28/10/1999 0:00', '25/02/2006 0:00',
       '12/06/2007 0:00', '18/04/1995 0:00', '25/04/2000 0:00',
       '5/12/1997 0:00', '24/09/1996 0:00', '10/01/1992 0:00',
       '17/07/2001 0:00', '14/07/2011 0:00', '21/09/2001 0:00',
       '5/06/2003 0:00', '5/12/1996 0:00', '19/02/2002 1:02',
       '28/11/1999 0:00', '26/05/1997 0:00', '5/07/2008 0:00',
       '7/04/2007 0:00', '9/04/2011 16:13', '29/01/2004 16:01',
       '17/02/1999 5:00', '27/02/2000 15:05', '21/07/1995 0:00',
       '8/08/2002 0:00', '15/02/2005 0:00', '8/01/2009 10:56',
       '1/07/2007 5:40', '21/10/2006 0:00', '30/08/2000 0:00',
       '14/09/1995 0:00', '14/09/2000 8:47', '17/02/2006 0:00',
       '10/07/2002 0:00', '4/09/1996 4:00', '15/05/2005 0:00',
       '8/01/2004 0:00', '10/11/2009 0:00', '26/11/1996 0:00',
       '2/08/2010 0:00', '24/08/2003 0:00', '19/07/2010 0:00',
       '28/10/2008 0:00', '24/06/2003 0:00', '28/02/2008 0:00',
       '22/09/1993 0:00', '29/09/1994 0:00', '7/11/2016 0:00',
       '30/07/2009 4:01', '10/01/2007 15:27', '19/10/2005 0:00',
       '13/09/2001 23:03', '2/10/2005 0:00', '27/08/2002 0:00',
       '28/09/1996 0:00', '5/06/2006 0:00', '22/03/2006 0:00',
       '20/10/1998 0:00', '23/04/2002 18:56', '26/09/2005 0:00',
       '4/01/1995 0:00', '30/07/2004 0:00', '5/11/2008 0:00',
       '29/12/2005 0:00', '17/02/2009 0:00', '2/12/2005 0:00',
       '8/11/1998 0:00', '12/02/2002 0:00', '8/04/1996 0:00',
       '8/05/1996 0:00', '2/03/1999 0:00', '17/12/2007 0:00',
       '3/06/2000 0:00', '21/11/2016 0:00', '8/09/2007 0:00',
       '25/10/2006 0:00', '18/10/1994 0:00', '23/10/1996 0:00',
       '4/11/2003 0:00', '30/07/2002 0:00', '9/12/2008 0:00',
       '9/03/2010 0:00', '4/07/2001 23:21', '8/03/2016 0:00',
       '23/02/2010 0:00', '6/07/2016 14:30', '16/01/2016 0:00',
       '13/06/1997 0:00', '22/07/2005 18:52', '7/04/2002 20:00',
       '5/03/2013 20:51', '24/05/2004 0:00', '30/01/2006 0:00',
       '19/12/1997 0:00', '30/11/2006 0:00', '14/04/1999 0:00',
       '27/05/2008 0:00', '8/05/2004 20:53', '16/08/1999 0:00',
       '4/08/1995 0:00', '18/07/2002 0:00', '23/11/1994 0:00',
       '30/08/2015 0:00', '30/04/2009 0:00', '27/11/2006 0:00',
       '13/02/2017 0:00', '29/09/2015 0:00', '19/08/2004 0:00',
       '18/03/2016 0:00', '6/12/2010 0:00', '23/06/2003 0:00',
       '3/08/2004 0:00', '14/05/2002 0:00', '26/04/2001 0:00',
       '9/05/2004 18:06', '5/11/1997 5:00', '8/12/1995 0:00',
       '27/06/2001 0:00', '13/11/2002 0:00', '30/01/1996 0:00',
       '16/07/1999 0:00', '23/06/2006 0:00', '26/09/2003 0:00',
       '10/04/2002 0:00', '11/11/2006 0:00', '20/04/1995 4:00',
       '3/05/2015 0:00', '4/02/2005 0:00', '16/09/1996 4:00',
       '20/07/2006 0:00', '9/12/2003 0:00', '12/03/2008 0:00',
       '13/09/2000 0:00', '5/02/1999 0:00', '10/05/2000 0:00',
       '25/01/1995 0:00', '5/10/2005 0:00', '28/06/2006 0:00',
       '25/06/1997 0:00', '9/01/1998 0:00', '17/03/2000 0:00',
       '9/10/2016 17:08', '29/02/2008 0:00', '18/05/2001 0:00',
       '30/10/2002 0:00', '19/12/2000 0:00', '13/05/1998 0:00',
       '9/08/2009 0:00', '29/07/2007 0:00', '15/07/2009 0:00',
       '27/09/2000 0:00', '8/08/2001 0:00', '27/11/2002 0:00',
       '12/03/2009 1:58', '8/11/1993 0:00', '25/07/1998 0:00',
       '16/11/1999 0:00', '20/07/1998 4:00', '7/04/2003 0:00',
       '4/06/2009 0:00', '29/11/2000 0:00', '3/02/1999 0:00',
       '18/10/2000 0:00', '6/10/2005 0:00', '22/09/2009 0:00',
       '18/01/1994 0:00', '13/09/1996 4:00', '21/07/2008 0:00',
       '30/01/2007 0:00', '11/03/2017 0:00', '25/08/2004 0:00',
       '16/05/2001 0:00', '22/11/2003 0:00', '14/10/2016 0:00',
       '26/07/1995 0:00', '22/04/1999 0:00', '26/05/2006 0:00',
       '6/08/2002 0:00', '7/03/2000 0:00', '8/07/2000 0:00',
       '3/12/1999 0:00', '15/11/1998 0:00', '11/11/2007 0:00',
       '19/07/2004 0:00', '2/09/2003 0:00', '28/08/1998 0:00',
       '4/10/2003 0:00', '2/10/2007 0:00', '24/04/2007 0:00',
       '15/12/2010 0:00', '1/06/2001 0:00', '22/08/2007 0:00',
       '26/01/2001 0:00', '6/06/2007 0:00', '19/09/2002 0:00',
       '28/07/1995 0:00', '8/05/2001 0:00', '18/10/2002 0:00',
       '18/10/2004 0:00', '5/11/1997 0:00', '28/03/2000 0:00',
       '12/04/2000 0:00', '28/11/2006 0:00', '24/02/1996 0:00',
       '21/12/2005 0:00', '1/07/1998 0:00', '5/05/2004 0:00',
       '2/12/2004 0:00', '10/08/1998 0:00', '13/04/2005 0:00',
       '14/08/2000 0:00', '25/06/2002 0:00', '22/06/2014 0:00',
       '24/05/2015 0:00', '5/08/1999 0:00', '21/08/1998 0:00',
       '28/08/2003 0:00', '9/03/2004 0:00', '3/01/2002 0:00',
       '22/03/2009 0:00', '3/07/2000 17:33', '2/02/1996 0:00',
       '19/02/1997 0:00', '23/08/2010 0:00', '23/09/2009 0:00',
       '7/10/2005 16:25', '20/09/1995 0:00', '30/01/2003 0:00',
       '22/11/2000 0:00', '6/11/2001 1:42', '11/11/1999 0:00',
       '26/07/1990 0:00', '26/07/2003 0:00', '16/05/1995 0:00',
       '26/04/2004 0:00', '9/03/2006 0:00', '23/07/2011 0:00',
       '9/12/2002 0:00', '2/04/1999 0:00', '21/05/2007 21:12',
       '4/10/1996 0:00', '1/05/1996 0:00', '31/01/1995 5:00',
       '22/02/2007 0:00', '6/12/1994 0:00', '2/01/2003 0:00',
       '6/10/1999 0:00', '11/06/2003 0:00', '30/12/1996 0:00',
       '27/02/1998 5:00', '11/01/1999 0:00', '4/01/2007 0:00',
       '4/11/2004 22:27', '21/01/2007 22:31', '20/11/2007 0:00',
       '12/12/2003 0:00', '4/05/2001 0:00', '9/09/2002 0:00',
       '15/02/2000 0:00', '1/03/2005 0:00', '21/02/1992 0:00',
       '15/10/2005 0:00', '1/06/1996 0:00', '5/03/2005 0:00',
       '14/04/1998 0:00', '2/06/1994 0:00', '31/05/1995 0:00',
       '2/03/1995 0:00', '18/01/2008 0:00', '22/03/1999 0:00',
       '27/05/1998 0:00', '17/09/1998 0:00', '7/05/1998 0:00',
       '5/11/2003 0:00', '23/10/1994 0:00', '24/05/2010 0:00',
       '14/10/2007 12:24', '25/11/2016 0:00', '30/09/2002 0:00',
       '9/02/2007 0:00', '10/02/1999 0:00', '7/08/1995 0:00',
       '21/05/1997 0:00', '10/01/2006 0:00', '31/08/2004 0:00',
       '5/12/2005 0:00', '27/05/2002 0:00', '5/05/2001 0:00',
       '1/03/2008 0:00', '16/02/2005 0:00', '17/12/2005 0:00',
       '2/10/2002 0:00', '6/03/1998 0:00', '29/09/2005 0:00',
       '17/07/2000 0:00', '27/06/2015 0:00', '19/02/2005 0:00',
       '7/11/1996 0:00', '14/12/1995 5:00', '6/11/1998 0:00',
       '29/09/2000 0:00', '30/12/2002 0:00', '15/09/2003 0:00',
       '15/09/1997 0:00', '21/05/1998 0:00', '4/01/1997 0:00',
       '25/07/2003 18:21', '25/10/2005 0:00', '29/12/1999 0:00',
       '1/09/1995 4:00', '16/03/2003 8:22', '22/07/2008 0:00',
       '27/09/2013 0:00', '5/11/1999 0:00', 'b', '13/08/2002 0:00',
       '1/09/1998 0:00', '8/12/1997 0:00', '16/12/1993 5:00',
       '16/02/2001 9:00', '25/02/1999 0:00', '6/08/2004 0:00',
       '18/05/2003 7:22', '4/02/2003 0:00', '9/08/2002 18:13',
       '29/12/2008 0:00', '31/07/2006 0:00', '16/11/1998 0:00',
       '18/04/2000 0:00', '20/04/2001 0:00', '28/09/2005 0:00',
       '31/05/2005 0:00', '3/08/1998 0:00', '28/08/2007 0:00',
       '19/12/2006 0:00', '16/01/2001 0:00', '12/12/1990 0:00',
       '19/07/2016 0:00', '13/11/2003 0:00', '2/12/2000 0:00',
       '7/04/2006 16:53', '6/05/2006 0:00', '12/09/2009 21:54',
       '4/10/2010 0:00', '18/04/2005 22:11', '1/10/2001 0:00',
       '14/07/1998 4:00', '15/08/1995 0:00', '8/09/2004 0:00',
       '26/01/2001 12:11', '17/07/2006 0:00', '17/05/2001 0:00',
       '7/09/1993 0:00', '7/06/2001 0:00', '13/08/2004 0:00',
       '16/06/1996 0:00', '6/11/2007 0:00', '14/06/1995 0:00',
       '23/03/1998 0:00', '21/04/2002 0:00', '7/07/2007 0:00',
       '31/12/2005 0:00', '17/03/1996 5:00', '19/02/2002 0:00',
       '28/04/2005 0:00', '21/06/1997 0:00', '24/04/1999 0:00',
       '24/01/2001 0:00', '23/05/1997 0:00', '12/09/2002 0:00',
       '20/02/2006 0:00', '21/11/1997 0:00', '19/03/1999 0:00',
       '1/09/2016 0:00', '9/08/1995 0:00', '15/04/2010 0:00',
       '4/12/2014 0:00', '16/07/1998 16:08', '10/06/1999 0:00',
       '28/08/2001 0:00', '12/10/2003 0:00', '14/10/2001 0:00',
       '29/09/1998 0:00', '13/06/1995 0:00', '24/09/2006 0:00',
       '13/08/2003 0:00', '12/01/1995 0:00', '10/09/2003 0:00',
       '9/04/2008 0:00', '25/10/2002 0:00', '21/05/1995 0:00',
       '20/01/1998 0:00', '9/08/1996 0:00', '27/01/1999 0:00',
       '15/08/2013 0:00', '10/08/1999 0:00', '27/05/1997 0:00',
       '13/03/2000 0:00', '3/04/2011 0:00', '16/12/2004 0:00',
       '4/06/2010 0:00', '11/10/2005 0:00', '25/10/2003 0:00',
       '22/12/2003 0:00', '26/01/2007 0:00', '19/10/2006 0:00',
       '21/06/2004 6:33', '3/12/1996 0:00', '9/02/2005 0:00',
       '27/03/1998 0:00', '2/05/2005 0:00', '20/03/2002 0:00',
       '15/03/2005 0:00', '5/12/1996 5:00', '10/10/2006 0:00',
       '1/08/2007 0:00', '3/06/1993 0:00', '22/11/1996 0:00',
       '27/04/2007 0:00', '7/04/2006 10:47', '30/03/1994 0:00',
       '12/02/1999 0:00', '16/09/1996 0:00', '27/05/2010 0:00',
       '24/07/2006 17:52', '5/03/1998 0:00', '28/01/2006 0:00',
       '9/10/2014 0:00', '1/02/2003 16:44', '24/10/2000 0:00',
       '29/08/2001 0:00', '26/07/2005 0:00', '8/02/1996 0:00',
       '2/10/2001 13:00', '12/10/1997 4:00', '16/09/2004 0:00',
       '27/07/2003 0:00', '15/07/1999 0:00', '28/07/2007 0:00',
       '10/02/2000 0:00', '19/07/2004 14:56', '2/05/1996 0:00',
       '24/09/2009 0:00', '7/03/2001 0:00', '2/01/2001 0:00',
       '26/01/2006 21:09', '21/12/2006 0:00', '16/11/2016 0:00',
       '13/05/2011 0:00', '26/05/1998 0:00', '8/04/2000 0:00',
       '5/11/2007 0:00', '19/04/2006 0:00', '1/06/2006 0:00', '0',
       '10/03/1998 0:00', '23/01/2004 0:00', '3/03/1999 0:00',
       '3/06/1998 0:00', '11/01/2005 0:00', '2/06/2004 0:00',
       '11/06/2002 0:00', '15/11/1995 0:00', '15/12/1994 0:00',
       '23/07/1999 0:00', '17/08/1995 0:00', '7/09/1995 0:00',
       '29/01/2003 23:45', '3/08/1999 0:00', '27/01/2010 0:00',
       '28/12/1998 0:00', '18/01/1996 5:00', '17/11/2006 0:00',
       '21/05/2006 0:00', '24/11/2001 0:00', '6/09/1997 0:00',
       '31/10/1997 0:00', '22/09/2002 0:00', '1/05/2009 0:00',
       '8/04/2009 0:00', '10/05/2007 19:20', '8/04/1998 0:00',
       '20/10/2003 0:00', '5/08/2008 0:00', '29/03/2008 0:00',
       '15/12/2007 0:00', '3/09/1996 4:00', '2/08/2000 0:00',
       '5/11/2007 15:14', '9/01/2007 0:00', '29/03/2000 0:00',
       '20/03/2005 0:00', '3/07/2000 0:00', '3/10/1997 0:00',
       '31/01/1996 0:00', '20/08/2014 0:00', '16/11/1994 0:00',
       '16/05/2000 0:00', '14/12/2004 0:00', '2/10/2000 0:00',
       '16/06/2014 0:00', '7/02/2006 0:00', '29/04/1994 0:00',
       '7/12/2006 0:00', '14/04/2017 0:00', '10/08/1995 0:00',
       '18/10/2005 0:00', '23/06/1999 0:00', '3/05/2006 0:00',
       '26/05/1994 0:00', '17/08/2010 0:00', '2/03/2000 0:00',
       '26/01/2002 0:00', '4/02/1996 0:00', '23/07/2004 0:00',
       '17/05/2004 0:00', '19/11/1998 0:00', '18/06/2003 0:00',
       '7/07/1999 0:00', '25/02/2005 0:00', '22/08/2003 0:00',
       '20/08/2000 0:00', '3/03/2004 0:00', '10/11/1994 0:00',
       '9/07/1995 0:00', '22/09/2000 0:00', '17/04/1996 0:00',
       '25/11/1995 0:00', '2/04/2009 0:00', '10/12/2010 0:00',
       '5/11/1996 5:00', '8/03/2003 0:00', '12/08/2005 0:00',
       '23/11/1998 0:00', '14/03/2004 0:00', '27/06/1996 0:00',
       '19/05/2016 0:00', '24/05/2006 0:00', '12/02/2000 0:00',
       '3/05/2004 0:00', '15/12/1998 0:00', '15/04/2002 0:00',
       '5/02/2009 0:00', '7/07/1997 0:00', '5/03/1994 0:00',
       '22/05/1995 0:00', '23/04/1996 0:00', '25/03/2010 0:00',
       '27/01/1995 0:00', '17/09/2008 0:00', '9/08/1994 0:00',
       '26/03/2002 0:00', '26/04/1996 0:00', '19/05/2003 0:00',
       '20/10/2000 0:00', '2/07/1999 0:00', '17/03/2009 0:00',
       '27/05/2006 0:00', '25/07/1995 0:00', '11/08/2009 0:00',
       '24/03/2005 0:00', '29/03/1994 0:00', '1/02/1994 0:00',
       '2/01/2016 0:00', '24/02/2008 18:32', '2/12/1997 0:00',
       '17/10/2008 0:00', '16/02/2010 0:00', '10/05/1996 0:00',
       '27/01/2007 0:00', '8/06/2009 3:48', '19/04/2003 0:00',
       '20/12/1999 0:00', '29/12/2007 0:00', '10/01/2000 0:00',
       '17/05/2007 0:00', '10/08/2016 0:00', '23/12/1995 0:00',
       '3/01/2009 0:00', '22/11/1995 0:00', '26/06/2007 0:00',
       '1/03/1994 0:00', '13/12/1993 5:00', '14/12/2009 0:00',
       '1/04/2008 22:47', '28/11/1994 0:00', '9/12/1998 0:00',
       '6/09/2005 0:00', '7/11/2003 0:00', '18/03/1999 0:00',
       '8/02/2005 0:00', '8/12/2016 0:00', '21/11/1996 0:00',
       '3/09/1996 0:00', '29/09/1993 0:00', '19/12/1995 0:00',
       '23/03/1999 0:00', '27/01/2011 0:00', '13/01/1996 0:00',
       '28/02/1994 5:00', '26/06/1996 0:00', '16/05/1995 4:00',
       '16/07/2007 0:00', '22/05/2009 0:00', '10/03/2006 0:00',
       '18/12/2006 0:00', '10/09/1998 0:00', '26/06/1995 0:00',
       '28/12/2007 0:00', '28/07/1999 0:00', '28/02/2002 0:00',
       '8/02/1999 0:00', '16/06/2000 17:03', '27/02/1995 0:00',
       '13/02/1999 0:00', '12/06/2001 20:58', '23/05/1995 0:00',
       '16/01/2008 0:00', '31/07/1997 0:00', '4/03/2006 0:00',
       '1/11/2000 0:00', '18/12/2008 0:00', '31/08/2003 0:00',
       '3/06/1997 0:00', '29/04/1999 0:00', '22/06/1998 0:00',
       '14/12/1999 0:00', '28/01/2004 0:00', '28/03/2007 0:00',
       '27/07/1995 0:00', '15/06/2006 0:00', '13/07/1998 0:00',
       '8/01/1997 0:00', '29/07/1998 4:00', '14/08/1997 0:00',
       '23/11/2010 0:00', '20/12/2008 0:00', '26/06/1997 0:00',
       '15/02/1999 0:00', '1/04/1998 0:00', '14/11/2008 0:00'],
      dtype=object)

In [620]:
#Going to look at the dates now and clean up the format on those.

def date_cleaner(datetime_str):
    if datetime_str in [np.nan, "b", "0", "None"]:  # these are the missing values and a random b thrown in the mix
        return np.nan
    
    if "T" in datetime_str:
        split_datetime = datetime_str.split("T")
    else:
        split_datetime = datetime_str.split()
    
    date = split_datetime[0]
    date_with_slash = date.replace("-", "/")
    
    if date_with_slash == "2002/03/20":  # this is the only instance that doesn't follow the convention
        date_with_slash = "20/03/2002"
    return date_with_slash

In [621]:
#Going to apply the cleaner format to both regdate and updated date columns
df_copy.whois_regdate = df_copy.whois_regdate.apply(date_cleaner)
df_copy["whois_regdate"] = pd.to_datetime(df_copy.whois_regdate, format="%d/%m/%Y", errors="coerce")

#Update the updated_date column
df_copy.whois_updated_date = df_copy.whois_updated_date.apply(date_cleaner)
df_copy["whois_updated_date"] = pd.to_datetime(df_copy.whois_updated_date, format="%d/%m/%Y", errors="coerce")

#Filling null values with the median. The reason being is it is impossible to know what these dates could be. The median offers the most common date which could help with our analysis.
df_copy["whois_regdate"].fillna(df_copy["whois_regdate"].median(), inplace=True)
df_copy["whois_updated_date"].fillna(df_copy["whois_updated_date"].median(), inplace=True)

In [622]:
#Deal with 1 last null value in dns_query_times. 
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1781 entries, 0 to 1780
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   url                        1781 non-null   object
 1   url_length                 1781 non-null   int64
 2   number_special_characters  1781 non-null   int64
 3   server                     1781 non-null   object
 4   content_length             1781 non-null   float64
 5   whois_country              1781 non-null   object
 6   whois_statepro             1781 non-null   object
 7   whois_regdate              1781 non-null   datetime64[ns]
 8   whois_updated_date         1781 non-null   datetime64[ns]
 9   tcp_conversation_exchange  1781 non-null   int64
 10  dist_remote_tcp_port       1781 non-null   int64
 11  remote_ips                 1781 non-null   int64
 12  app_bytes                  1781 non-null   int64
 13  source_app_packets         1781 non-null   int64
 14  remote_app_packets         1781 non-null   int64
 15  source_app_bytes           1781 non-null   int64
 16  remote_app_bytes           1781 non-null   int64
 17  app_packets                1781 non-null   int64
 18  dns_query_times            1780 non-null   float64
 19  type                       1781 non-null   int64
 20  charset_imputed            1781 non-null   object
 21  standardized_server        1781 non-null   object
dtypes: datetime64[ns](2), float64(2), int64(12), object(6)
memory usage: 306.2+ KB

In [623]:
#I will interpolate the dns query column. It's one value, so filling in the null value with a linear approach should work.
df_copy['dns_query_times'] = df_copy['dns_query_times'].interpolate()

In [624]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1781 entries, 0 to 1780
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   url                        1781 non-null   object
 1   url_length                 1781 non-null   int64
 2   number_special_characters  1781 non-null   int64
 3   server                     1781 non-null   object
 4   content_length             1781 non-null   float64
 5   whois_country              1781 non-null   object
 6   whois_statepro             1781 non-null   object
 7   whois_regdate              1781 non-null   datetime64[ns]
 8   whois_updated_date         1781 non-null   datetime64[ns]
 9   tcp_conversation_exchange  1781 non-null   int64
 10  dist_remote_tcp_port       1781 non-null   int64
 11  remote_ips                 1781 non-null   int64
 12  app_bytes                  1781 non-null   int64
 13  source_app_packets         1781 non-null   int64
 14  remote_app_packets         1781 non-null   int64
 15  source_app_bytes           1781 non-null   int64
 16  remote_app_bytes           1781 non-null   int64
 17  app_packets                1781 non-null   int64
 18  dns_query_times            1781 non-null   float64
 19  type                       1781 non-null   int64
 20  charset_imputed            1781 non-null   object
 21  standardized_server        1781 non-null   object
dtypes: datetime64[ns](2), float64(2), int64(12), object(6)
memory usage: 306.2+ KB

In [625]:
#drop the server column since we have it standardized and ready to go.
df_copy = df_copy.drop(columns=["server"])

In [626]:
#data is clean and ready to go!
df_copy.head()

,url,url_length,number_special_characters,content_length,whois_country,whois_statepro,whois_regdate,whois_updated_date,tcp_conversation_exchange,dist_remote_tcp_port,...,app_bytes,source_app_packets,remote_app_packets,source_app_bytes,remote_app_bytes,app_packets,dns_query_times,type,charset_imputed,standardized_server
0,M0_109,16,7,263.0,Other,Other,2015-10-10,2016-08-23,7,0,...,700,9,10,1153,832,9,2.0,1,Iso 8859 1,nginx
1,B0_2314,16,6,15087.0,Other,Other,2001-01-16,2016-08-23,17,7,...,1230,17,19,1265,1230,17,0.0,0,Utf 8,other
2,B0_911,16,6,324.0,Other,Other,2001-01-16,2016-08-23,0,0,...,0,0,0,0,0,0,0.0,0,Us Ascii,microsoft IIS
3,B0_113,17,6,162.0,US,Other,1997-10-07,2013-09-12,31,22,...,3812,39,37,18784,4380,39,8.0,0,Iso 8859 1,nginx
4,B0_403,17,6,124140.0,US,TX,1996-05-12,2017-04-11,57,2,...,4278,61,62,129889,4586,61,4.0,0,Utf 8,unknown